# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: large model files if you want
# *.h5
# *.ckpt
# *.pth

